[user]
    email = stallwan@proton.me
    name = Stallwan

[init]
    defaultBranch = main

[alias]
    c = commit -m
    ps = push
    pl = pull
    b = branch
    f = fetch
    a = add

[pull]
    rebase = false
