[user]
    email = lukhell@proton.me
    name = Lukhell

[init]
    defaultBranch = main

[alias]
    c = commit -m
    ps = push
    pl = pull
    b = branch
    f = fetch
    a = add

[pull]
    rebase = false

[protocol "file"]                                                                                            
    allow = always
