[submodule "vim/vim/plugins/VimCompletesMe"]
    path = vim/vim/plugins/VimCompletesMe
    url = https://github.com/ackyshake/VimCompletesMe

[submodule "vim/vim/plugins/syntastic"]
    path = vim/vim/plugins/syntastic
    url = https://github.com/vim-syntastic/syntastic

[submodule "vim/vim/plugins/photon"]
    path = vim/vim/plugins/photon
    url = https://github.com/axvr/photon 

[submodule "vim/vim/plugings/rust"]
    path = vim/vim/plugins/rust
    url = https://github.com/rust-lang/rust.vim
