[submodule "vim/vim/plugins/VimCompletesMe"]
    path = vim/vim/plugins/VimCompletesMe
    url = https://github.com/ackyshake/VimCompletesMe

[submodule "vim/vim/plugins/syntastic"]
    path = vim/vim/plugins/syntastic
    url = https://github.com/vim-syntastic/syntastic

[submodule "vim/vim/plugins/photon.vim"]
    path = vim/vim/plugins/photon.vim
    url = https://github.com/axvr/photon 

[submodule "vim/vim/plugins/rust.vim"]
    path = vim/vim/plugins/rust.vim
    url = https://github.com/rust-lang/rust.vim

[submodule "vim/vim/plugins/equinusocio-material.vim"]
    path = vim/vim/plugins/equinusocio-material.vim
    url = https://github.com/chuling/equinusocio-material.vim

[submodule "vim/vim/plugins/rainbow"]
    path = vim/vim/plugins/rainbow
    url = https://github.com/luochen1990/rainbow

[submodule "vim/vim/plugins/vim-floaterm"]
    path = vim/vim/plugins/vim-floaterm
    url = https://github.com/voldikss/vim-floaterm

[submodule "vim/vim/plugins/vim-polyglot"]
    path = vim/vim/plugins/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot
