[submodule "vim/vim/plugins/VimCompletesMe"]
    path = vim/vim/plugins/VimCompletesMe
    url = https://github.com/ackyshake/VimCompletesMe

[submodule "vim/vim/plugins/syntastic"]
    path = vim/vim/plugins/syntastic
    url = https://github.com/vim-syntastic/syntastic

[submodule "vim/vim/plugins/photon.vim"]
    path = vim/vim/plugins/photon.vim
    url = https://github.com/axvr/photon 

[submodule "vim/vim/plugings/rust.vim"]
    path = vim/vim/plugins/rust.vim
    url = https://github.com/rust-lang/rust.vim

[submodule "vim/vim/plugings/equinusocio-material.vim"]
    path = vim/vim/plugins/equinusocio-material.vim
    url = https://github.com/chuling/equinusocio-material.vim

[submodule "vim/vim/plugings/rainbow"]
    path = vim/vim/plugins/rainbow
    url = https://github.com/luochen1990/rainbow
